<!doctype html>
<html>
    <head>
        <title>Blog</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>
<body>    
        <label>
            <a href="/Blog-it">New Blog Post</a>   <a href="/">Main Page</a>
        </label>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes></ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
   
    {% block content %}
    {% endblock %}

</body>
</html>