<!doctype html>
<html>
    <head>
        <title>Blog</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>
<body>    
       
        <ul class="nav">
           <li><a href="/Blog-it">New Blog Post</a></li> 
           <li><a href="/">Main Page</a> </li> 
           <li><a href="/signup">Register</a></li>
           <li><a href="/login">Login</a></li>
           <li><a href="/logout">logout</a></li>
           <li><a href="/allposts">All Posts</a></li>
        </ul>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes></ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
   
    {% block content %}
    {% endblock %}

</body>
</html>